<div class="phone-number-container">
  <form class="phone-number-form">
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Phone number:</mat-label>
      <input matInput type="number" minlength="7" maxlength="10" [formControl]="telNum" name="phoneNum">
      <mat-hint align="start"><strong>Please enter a 7 or 10 digit phone number.</strong></mat-hint>
    </mat-form-field>
    <mat-error *ngIf="!isValidNumber">
      Please enter a valid 7 or 10 digit phone number!
    </mat-error>
    <br>
    <br>
    <button type="submit" class="submit-button" (click)='onSubmit()'>Submit</button>
    <p>Total Combinations: {{totalCount}} </p>
    
    <mat-paginator #paginator [pageIndex]='0' (page)='onPageChange($event)' [pageSize]='500' [length]='totalCount'></mat-paginator>
    <table>
      <tr *ngFor="let item of numArr">{{item}}</tr>
    </table>
  </form>
</div>